<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotino3">
  <xacro:include filename="robotino3/robotino3_base.urdf.xacro"/>
  <xacro:include filename="robotino3/omniwheel.urdf.xacro"/>
  <xacro:include filename="sensors/range_sensors_array.urdf.xacro"/>
  <xacro:include filename="sensors/hokuyo_laser_range_finder.urdf.xacro"/>
  <xacro:include filename="sensors/logitech_c920.urdf.xacro"/>

  <xacro:property name="base_radius" value="0.225"/>
  <xacro:robotino3_base/>
  
  <xacro:omniwheel name="wheel0" angle="${radians(60)}" parent="base_link"/>
  <xacro:omniwheel name="wheel1" angle="${radians(180)}" parent="base_link"/>
  <xacro:omniwheel name="wheel2" angle="${radians(300)}" parent="base_link"/>

  <xacro:range_sensors_array parent="base_link" base_radius="${base_radius}"/>

  <xacro:laser_range_finder parent="base_link">
    <origin xyz="0.091 0 0.1915" rpy="0 0 0"/>
  </xacro:laser_range_finder>

  <xacro:logitech_c920 parent="base_link">
    <origin xyz="0.12 0 0.304" rpy="0 0 0"/>
  </xacro:logitech_c920>
</robot>